language: c
compiler: gcc
dist: bionic
python:
  - "3.6"

addons:
  apt:
    update: true
    packages:
      - autoconf-archive
      - uuid-dev
      - libglew-dev
      - libjson-c-dev
      - libglfw3-dev
script:
    - autoreconf -fi
    - ./configure --enable-code-coverage
    - make check

jobs:
    include:
        -   stage: Code Coverage
            after_success:
                - cd src/
                - bash <(curl -s https://codecov.io/bash)
